@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

/* Colors
rgb(202,227,255)
rgb(196,203,255)
rgb(163,176,255)
rgb(142,151,255)
rgb(94,98,185)
rgb(62,65,118)
rgb(48,52,97)
rgb(42,39,66)
rgb(38,28,36)
*/

html{
  scroll-behavior: smooth;
  margin:0;
  padding:0;
  overflow-x:hidden;
  height: 100%;
  font-size: 16px;
}

body {
  background-color: #000;
  margin:0;
  padding:0;
}

.background-pic-beg {
  background-image: url(images/background5.jpg);

  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.background-pic-end {
  background-image: url(images/background5_flipped.jpg);
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.back {
  background-color: #261c24;
}

.section {
  padding: 110px 0 60px 0;
}

/*Navigation*/
li.link {
  font-size: 18px;
  font-weight: 700;
  padding-top: 5px;
  position: relative;
  display: inline-block;
  color: royalblue;
  overflow: hidden;
  background: linear-gradient(to right, #8e97ff, #cae3ff 50%, white 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
  text-decoration: none;
  
}

li.link:hover {
  background-position: 0 100%;
}

.navbar {
  background: rgba(48,52,97, .8);
  box-shadow: 0px 1px 12px rgb(94,98,185);
  margin: 15px;
  border-radius: 30px;
}

/*Text Editing*/
p.name, h5 {
  color: white;
  padding-top: 6%;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000; 
  font-weight: 550;
}

p.backtext {
  color: #b4bec4c1;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000; 
}

.header {
  color: white;
  font-size: 40px!important;
  font-weight: 650!important;
  padding-bottom: 20px;
}

.description {
  margin-top: 5px;
  background-color: #303461; /*#303461*/
  border-radius: 15px;
}

.description-text{
  color: white;
  padding: 5% 5% 0;
}

.description-special {
  background-color: transparent!important;
}

.modal-title {
  text-shadow: none;
}

/*Picture*/
.small-icon {
  height: 100px;
}

.portrait-picture {
  border-radius: 50px;
}

.involve-card-pic {
  margin: 0 15%;
}

.projects-pic {
  margin: -10px 0;
  border-radius: 15px;
}

/*Cards*/
img.card-img {
  border-radius: 20px;
}

.card-title {
  padding-top: 15px;
  color: white;
}  

.date-card {
  margin-top: -8px;
  color: rgba(255, 255, 255, 0.651);
}


/*End of Page*/
.social a {
  font-size: 50px;
  padding: 18px;
}
.fa-instagram {
  color: rgb(172, 17, 172);
}
.fa-instagram:hover {
  color: rgb(121, 11, 121);
}
  


/*---Media Queries --*/
@media (max-width: 500px) {
  p.name {
    font-size: 325%;
  }

  p.backtext {
    font-size: 275%;
  }
}

@media (min-width: 501px) {
  p.name {
    font-size: 525%;
  }

  p.backtext {
    font-size: 350%;
  }
}

@media (min-width: 768px) {
  p.name {
    font-size: 700%;
  }

  p.backtext {
    font-size: 450%;
  }
}

@media (min-width: 1200px) {
  p.name {
    font-size: 650%;
  }

  p.backtext {
    font-size: 400%;
  }
}


/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url('img/mac.png');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}





/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/